<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GerenciarPerfil</servlet-name>
        <servlet-class>controller.GerenciarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarPerfis</servlet-name>
        <servlet-class>controller.GerenciarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarUsuario</servlet-name>
        <servlet-class>controller.GerenciarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMenu</servlet-name>
        <servlet-class>controller.GerenciarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarFornecedor</servlet-name>
        <servlet-class>controller.GerenciarFornecedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarPaciente</servlet-name>
        <servlet-class>controller.GerenciarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarProduto</servlet-name>
        <servlet-class>controller.GerenciarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarPerfilMenu</servlet-name>
        <servlet-class>controller.GerenciarPerfilMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarCarrinho</servlet-name>
        <servlet-class>controller.GerenciarCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarConsulta</servlet-name>
        <servlet-class>controller.GerenciarConsulta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GerenciarPerfil</servlet-name>
        <url-pattern>/gerenciar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarPerfis</servlet-name>
        <url-pattern>/gerenciar_perfis.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarUsuario</servlet-name>
        <url-pattern>/gerenciar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenu</servlet-name>
        <url-pattern>/gerenciar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarFornecedor</servlet-name>
        <url-pattern>/gerenciar_fornecedor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarPaciente</servlet-name>
        <url-pattern>/gerenciar_paciente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarProduto</servlet-name>
        <url-pattern>/gerenciar_produto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarPerfilMenu</servlet-name>
        <url-pattern>/gerenciar_perfil_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarCarrinho</servlet-name>
        <url-pattern>/gerenciar_carrinho.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarConsulta</servlet-name>
        <url-pattern>/gerenciar_consulta.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
